<div class="container">
<fieldset class="col-md-8 col-md-offset-2">
<table class="table table-hover">
  <tr>
    <td>ID</td>
    <td>头像</td>
    <td>偶像</td>
    <td>粉丝数量</td>
    <td>话题数量</td>
    <td>卡片数量</td>
    <td>操作</td>
  </tr>

<% @idols.each do |idol| %>
  <tr>
  	<td><%= idol.id %></td>
  	<td><%= image_tag idol.avatar_url, :style => "width: 30px" %></td>
	<td><%= idol.name %></td>
	<td><%= idol.fans_count %></td>
	<td><%= link_to idol.boxes_count, cpanel_boxes_path(idol_id: idol.id) %></td>
	<td><%= link_to idol.marks_count, cpanel_cards_path(idol_id: idol.id) %></td>
	<td>
	 <%= link_to "编辑", edit_cpanel_idol_path(idol), :title => "编辑" %>
	</td>
  </tr>
<% end %>
</table>
<%= will_paginate @idols %>
</fieldset>
</div>