<div class="container">
	<%= simple_form_for([:cpanel, @card]) do |f| %>
	<fieldset class="col-md-6 col-md-offset-3">
		<%= f.error_notification %>
		<%= f.input :title, :label => "标题" %>
		<%= f.input :base_url, :readonly => true, :label => "文件链接"%>
		<%= f.input :image_width, :readonly => true, :label => "图片宽度"%>
		<%= f.input :image_height, :readonly => true, :label => "图片高度"%>
		<%= f.input :image_type, :readonly => true, :label => "图片类型"%>
		<%= f.input :topic, :label => "事件" %>
		<%= f.input :event, :label => "活动" %>
		<%= f.input :source, :label => "来源" %>
		<div class="actions">
			<%= f.submit '保存', :class => "btn btn-primary btn-lg btn-block", :disable_with => '保存中' %>
		</div>
	</fieldset>
	<% end %>
</div>