<div class="container">
	<div class="row">
		<% @cards.each do |card| %>
		<div class="col-sm-4 col-md-3">
			<div class="thumbnail">
			<%= image_tag card.img_thumb_url%>
      		<div class="caption">
        		<p class="text-warning">偶像：<%= card.marks.map(&:name).join(', ') %></p>
        		<p class="text-primary">事件：<%= card.topic %></p>
        		<p class="text-success">时间活动：<%= card.event %></p>
        		<p class="text-info">来源：<%= card.source %></p>
        		<p class="text-danger">标签：<%= card.tags.map(&:name).join(', ') %></p>
        		<%= link_to "编辑", edit_cpanel_card_path(card), :class => "btn btn-primary"%>
        	    <%= link_to "删除", cpanel_card_path(card), :method => :delete, :data => {:confirm => '确定要删除卡片，该操作不可恢复'}, :class => "btn btn-default" %>
      		</div>
      		</div>
		</div>
		<% end %>
	</div>
	<%= will_paginate @cards, :class => "center-block" %>
</div>
