<div class="container">
	<div class="row">
		<% @cards.each do |card| %>
		<div class="col-sm-4 col-md-3">
			<div class="thumbnail">
			<%= image_tag card.img_thumb_url%>
      		<div class="caption">
        		<p class="text-warning">偶像：就是他们啦</p>
        		<p class="text-primary">事件：<%= card.topic %></p>
        		<p class="text-success">时间活动：<%= card.event %></p>
        		<p class="text-info">来源：<%= card.source %></p>
        		<p class="text-danger">标签：一堆堆</p>
        		<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      		</div>
      		</div>
		</div>
		<% end %>
	</div>
	<%= will_paginate @cards, :class => "center-block" %>
</div>
